<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/bootstrap-5.1.1-dist/css/bootstrap.min.css" type="text/css" />
    <script src="./assets/bootstrap-5.1.1-dist/js/jquerry.min.js" rel="javascript"></script>
    <script src="./assets/bootstrap-5.1.1-dist/js/popper.min.js" rel="javascript"></script>
    <link rel="stylesheet" href="/css/styleLanding.css">

</head>

<body>
    <!-- PAGE 1 -->
    <div class="jumbotron1">
        <!-- NAVIGASI -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top bg-opacity-75">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Swandaru</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active fw-bold " aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text fw-bold" href="#">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bold" href="#">ABOUT ME</a>
                        </li>
                        <li class="nav-item2">
                            <a class="nav-link fw-bold" href="/register">SIGN UP</a>
                        </li>
                        <li class="nav-item2">
                            <a class="nav-link fw-bold" href="/login">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1 class="display-4">PLAY TRADITIONAL GAME</h1>
        <p class="lead">Experience new traditional game play</p>
        <a class="btn btn-warning btn-lg" href="/game" role="button">PLAY NOW</a>

    </div>

    <!-- PAGE 2 -->
    <div class="jumbotron2">
        <p class="lead">What's so special?</p>
        <h1 class="display-4">THE GAMES</h1>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/image/rockpaperstrategy-1600.jpg" class="d-block w-75" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span></button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span></button>
        </div>
    </div>

    <!-- PAGE 3 -->
    <div class="jumbotron3">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3 class="text-white">FEATURES</h3>
                    <ul class="timeline">
                        <li>
                            <p class="text-warning">TRADITIONAL GAMES</p>
                            <p class="text-white text">If you miss your childhood, we provide many traditional games here</p>
                        </li>
                        <li>
                            <p class="text-warning">GAME SUIT</p>
                            <br>
                        </li>
                        <li>
                            <p class="text-warning">TBD</p>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE 4 -->
    <div class="jumbotron4">
        <p class="text-white">Can My Computer Run This Game?</p>
        <h1 class="text-white">
            SYSTEM
            <br> REQUIREMENTS
        </h1>
        <table class="table table-bordered btn-outline-white">
            <thead>
                <tr>
                    <th scope="col">
                        <h5 class="text-warning">OS:</h5>
                        <p2 class="text-white">Windows 7 64-bit only
                            <br> (No OSX support at this time)
                        </p2>
                    </th>
                    <th scope="col">
                        <h5 class="text-warning">PROCESSOR:</h5>
                        <p2 class="text-white">Intel Core 2 Duo @ 2.4 GHZ or
                            <br> AMD Athlon X2 @ 2.8 GHZ
                        </p2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <h5 class="text-warning">MEMORY:</h5>
                        <p2 class="text-white">4 GB RAM AMD Athlon X2 @ 2.8 GHZ
                        </p2>
                    </th>
                    <td>
                        <h5 class="text-warning">storage:</h5>
                        <pp2 class="text-white">8 GB available space</p2>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <h5 class="text-warning">GRAPHICS:</h5>
                        <p2 class="text-white">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                        </p2>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- PAGE 5 -->
    <div class="jumbotron5">

        <div class="Title5">
            <h1 class="display-4 text-white py">TOP SCORES</h1>
            <p class="lead text-white">This top score from various games provided on this platform</p>
            <a class="btn btn-warning btn-lg" href="#" role="button">see more</a>
        </div>
        <!-- CARD -->
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div class="card mb-3 " style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="./assets/image/card_1.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-warning">Evan Lathi</h5>
                                    <p class="card-text text-secondary">PC gamer</p>
                                    <p class="card-text">"One of my gaming highlights of the year"</p>
                                    <p class="card-text"><small class="text-muted">October 18,2018</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div class="card mb-3 " style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="./assets/image/card_2.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-warning">Aaron Williams</h5>
                                    <p class="card-text text-secondary">Uproxx</p>
                                    <p class="card-text">"Snoop Dogg Playing The Wildy Entertaining 'SOS' is Ridiculous</p>
                                    <p class="card-text"><small class="text-muted">December 4,2018</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CARD -->
    </div>
    <!-- PAGE 6 -->
    <div class="jumbotron6">
        <div class="row">
            <div class="col-6">
                <img src="./assets/image/image.png" class="img6">
            </div>
            <div class="col-6">
                <!-- NewsLetter -->
                <section class="newsletter">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="content">
                                    <p class="text-white text-start">
                                        Want to stay in
                                        <br> touch?
                                    </p>
                                    <h2 class="text-white text-start">NEWSLETTER
                                        <br> SUBSCRIBE
                                    </h2>
                                    <p class="text-white text-start">
                                        In order to start receiving our news, all you have to do is enter your email addres. Everything else will be taken care of by us. We will send you emails containing information about game. We dont' spam.
                                    </p>
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Enter your email">
                                        <span class="input-group-btn">
           <button class="btn text-black" type="submit">Subscribe Now</button>
           </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>

</body>

</html>